html,body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Navigasi Bar */
header .header-title{
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: #1C6DD0;
  text-align: center;
  border-bottom: 5px #EEEEEE solid;
  padding: 5px;
}

.header-title .title h1{
  font-family: Sixtyfour;
  margin-bottom: -10px;
}

.header-title .title p{
  font-size: 18px;
  font-family: monospace;
}

.header-title li a{
  font-family: monospace;
  color: #151D3B;
}

header nav .pages-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -5px;
  padding: 10px;
}

.pages-nav a{
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.nav1 a:hover{
  background-color: #EEEEEE;
}

.nav2 a:hover {
  background-color: #EEEEEE;
}

.nav3 a:hover {
  background-color: #EEEEEE;
}

/* Main Content */
main{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .main-container{
  text-align: center;
  position: relative;
  width: 800px;
  margin-top: 50px;
  padding: 10px;
  border: 5px solid #EEEEEE;
  border-radius: 20px;
}

main .main-container h2,h3{
  font-family: monospace;
}

main .main-container h2{
  font-size: 26px;
}

main .main-container h3{
  font-size: 24px;
  text-align: left;
  margin-left: 10px;
}

main .main-container p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  text-align: justify;
  padding: 10px;
  font-family: Rajdhani;
}

main .main-container img{
  width: 700px;
  height: 400px;
}

main .main-container ul{
  list-style: none;
  display: flex;
  gap: 10px;
  font-family: Rajdhani;
  
}

main .main-container video{
  width: 700px;
  height: 400px;
}

main b{
  font-family: Rajdhani
}

main .pvideo video{
  width: 700px;
  height: 400px;
}

main .ending .checkbox{
  display: flex;
  margin-left: 1%;
  font-family: Rajdhani;
}

main legend{
  text-align: left;
  margin-bottom: 10px;
}

main .comment{
  display: flex;
  flex-direction: column;
  text-align: left;
}